/** These two rules prevent that JavaFX renders empty placeholder rows, if there is at least one other data row. */
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
.table-row-cell:empty {
    -fx-background-color: white;
}

.chart-line-symbol {
    -fx-background-color: black;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 4px;
    -fx-padding: 4px;
}

.text-field-error {
    -fx-control-inner-background: rgb(255,160,160);
}